.login h1{
    font-size: 48px;
    text-align: center;
    margin-top: 120px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.login form {
    width: 40vw;
    margin: 0 auto;
}

.login label {
    font-size: 24px;
    margin: 24px 0px 8px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.login input {
    width: 40vw;
    font-size: 18px;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
} 

.login button {
    border: none;
    font-size: 24px;
    color: #fff;
    padding: 12px 16px;
    display: block;
    margin: 32px auto;
    background-color: red;
    width: 180px;
    border-radius: 4px;
}

.mensagem-erro {
    color: #ed373a;
}

.new-password {
    color: black;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
}