input, label {
    display: block;
}

.edit h1 {
    font-size: 48px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 60px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.trash-btn {
    border: none;
    padding: 10px;
    display: block;
    margin-left: 69%;
    background-color: red;
    border-radius: 4px;
    margin-top: -190px;
    margin-bottom: 130px;
    cursor: pointer;
}

.trash-btn img {
    width: 30px;
    height: 30px;
}

.descricao {
    text-align: center;
    margin: 16px 0px 64px 0px;
    font-size: 24px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

.edit form {
    width: 40vw;
    margin: 0 auto;
}

.edit label {
    font-size: 24px;
    margin: 24px 0px 8px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.trash-btn {
    border: none;
    padding: 10px;
    display: block;
    margin-left: 69%;
    background-color: red;
    border-radius: 4px;
    margin-top: -190px;
    margin-bottom: 130px;
    cursor: pointer;
}

.trash-btn img {
    width: 30px;
    height: 30px;
}

.edit input {
    width: 40vw;
    font-size: 18px;
    padding: 12px;
    border-radius: 8px;
}

.edit .condicaosenha{
    margin-top: .5rem;
    color: #868e96;
}

.btn {
    border: none;
    font-size: 24px;
    color: #fff;
    padding: 12px 16px;
    display: block;
    margin: 32px auto;
    background-color: red;
    width: 180px;
    border-radius: 4px;
    cursor: pointer;
}

.input-error {
    border: 1px solid red;
}

.small-error {
    color: red;
}