input, label {
    display: block;
}

.cadastro h1 {
    font-size: 48px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 0px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.cadastro .descricao {
    text-align: center;
    margin: 16px 0px 64px 0px;
    font-size: 24px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

.cadastro form {
    width: 40vw;
    margin: 0 auto;
}

.cadastro label {
    font-size: 24px;
    margin: 24px 0px 8px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.cadastro input {
    width: 40vw;
    font-size: 18px;
    padding: 12px;
    border-radius: 8px;
}

.cadastro .condicaosenha{
    margin-top: .5rem;
    color: #868e96;
}

.mensagem-erro {
    color: #ed373a;
}

.cadastro button {
    border: none;
    font-size: 24px;
    color: #fff;
    padding: 12px 16px;
    display: block;
    margin: 32px auto;
    background-color: red;
    width: 180px;
    border-radius: 4px;
}